---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<div
		id="playlist-container"
		class="relative transition-all duration-1000 bg-green-600"
	>
		<!-- <Page Header /> -->
		<div class="relative z-10 px-6">
			<!-- <Greatings /> -->
			<h1>s</h1>
		</div>
	</div>
</Layout>
